<div class="profile-posts">
  <section class="profile-section space-from-top">
    <div class="card profile-section-flex">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://media.gq.com/photos/5e6128d2398289000862596e/master/pass/tom-hardy-lead-840-social.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="username">Tom@tom.com</h3>
          <p class="card-text">The name is Tom@tom.com don't wear it out</p>
        </div>
      </div>
      <!-- <label class="form-label" for="customFile">Default file input example</label>
      <input type="file" class="form-control" id="customFile" /> -->
    </div>
  </section>

  <aside class="users-posts space-from-top space-from-left">
    <div class="card card-white">
      <h3>Life is too short</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis posuere viverra. Morbi elementum pellentesque consequat.
        Nullam laoreet urna a nisl rhoncus, id ultricies libero fringilla. Suspendisse lacinia turpis eget ante vestibulum cursus. Vivamus 
        lectus nulla, pellentesque in tincidunt eu, rhoncus vel eros. Fusce eu condimentum lectus, eu blandit orci. Aenean eu turpis elementum,
        bibendum eros vel, auctor enim. Vivamus in aliquet sapien. Mauris pretium mauris in orci viverra venenatis. Sed euismod consectetur enim
        vel rutrum. Vivamus imperdiet eleifend odio vel mollis. Sed vel imperdiet neque. Curabitur nisl justo, vestibulum id interdum at, posuere
        eget lectus. Donec ullamcorper feugiat magna, sed vestibulum enim efficitur euismod.</p>
    </div>
    <div class="card card-white">
      <h3>How to get good roles</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis posuere viverra. Morbi elementum pellentesque consequat.
        Nullam laoreet urna a nisl rhoncus, id ultricies libero fringilla. Suspendisse lacinia turpis eget ante vestibulum cursus. Vivamus 
        lectus nulla, pellentesque in tincidunt eu, rhoncus vel eros. Fusce eu condimentum lectus, eu blandit orci. Aenean eu turpis elementum,
        bibendum eros vel, auctor enim. Vivamus in aliquet sapien. Mauris pretium mauris in orci viverra venenatis. Sed euismod consectetur enim
        vel rutrum. Vivamus imperdiet eleifend odio vel mollis. Sed vel imperdiet neque. Curabitur nisl justo, vestibulum id interdum at, posuere
        eget lectus. Donec ullamcorper feugiat magna, sed vestibulum enim efficitur euismod.</p>
    </div> 
    <div class="card card-white">
      <h3>Bootcamp life</h3>  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis posuere viverra. Morbi elementum pellentesque consequat.
        Nullam laoreet urna a nisl rhoncus, id ultricies libero fringilla. Suspendisse lacinia turpis eget ante vestibulum cursus. Vivamus 
        lectus nulla, pellentesque in tincidunt eu, rhoncus vel eros. Fusce eu condimentum lectus, eu blandit orci. Aenean eu turpis elementum,
        bibendum eros vel, auctor enim. Vivamus in aliquet sapien. Mauris pretium mauris in orci viverra venenatis. Sed euismod consectetur enim
        vel rutrum. Vivamus imperdiet eleifend odio vel mollis. Sed vel imperdiet neque. Curabitur nisl justo, vestibulum id interdum at, posuere
        eget lectus. Donec ullamcorper feugiat magna, sed vestibulum enim efficitur euismod.</p>
    </div>
  </aside>
</div> 