{{!-- MODAL --}}
<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2">Please choose a category</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top" id="modalCookie2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2">Please enter a title</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top" id="modalCookie3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2">Please add a message</p>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="py-5" >
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <div class="card" style="background-color:var(--l);"> 
          <div class="card-body">
            <h3>Create New Post</h3>
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3">
                <h6 class="mb-0">Post Title</h6>
              </div>
              <div class="col-md-9">
                {{!-- imput for title here --}}
                <input type="text" class="form-control form-control-lg postTitle" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3">
                <h6 class="mb-0">Post Content</h6>
              </div>
              <div class="col-md-9">
                {{!-- input for message here --}}
                <textarea class="form-control"  id="post-content" rows="7" placeholder="Speak your heart out!"></textarea>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3">
                <h6 class="mb-0">Select a category</h6>
              </div>
              <div class="col-md-9">
                {{!-- input for Select here --}}
                <select  class ="form-select categoryId">
                    <option selected>Category</option>
                    <option value="1">CSS</option>
                    <option value="2">HTML</option>
                    <option value="3">Node.js</option>
                    <option value="4">Jquery</option>
                    <option value="5">MySql</option>
                    <option value="6">JavaScript</option>
                    <option value="7">Bootstrap</option>
                    <option value="8">ORM</option>
                </select>
              </div>
            </div>
            <hr class="mx-n3">
            <button type="submit" id="post-button" class="btn btn-primary" style="background-color:var(--d); border-color: background-color:var(--d); float: right;">Create Post</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- ////////////SCRIPTS///////////// --}}
<script src="https://code.jquery.com/jquery-3.6.3.min.js" 
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
    crossorigin="anonymous"></script>
<script src="/js/createpost.js"></script>