<div class="modal fade top" id="modalCookie1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2 errorName">Error occured while storing name</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top" id="modalCookie2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2 errorMessage">Error occoured while storing message</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade top" id="modalCookie3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row d-flex justify-content-center align-items-center">
          <p class="pt-3 pr-2">Please make sure the file size is under 40kb</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card" style="margin-right:auto; margin-left:auto; margin-top: 20px; width : 900px; border: none;border-radius: 14px !important">
    <div class="container rounded bg-white mt-5 mb-5">
        <h3 style="margin-left: 5px">Edit your profile...</h2>
        <div class="row" style="justify-content: space-around;">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-6" id ="avatar" width="200px" style= "margin-bottom: auto;" src={{avatar}}><h4 class="name mt-3" style="font-size:25px;font-weight:650">{{username}}</h4></div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="row mt-2" >
                        <div class="col-md-12"><label class="labels fancy-font"></label><input type="text-area"  id="username" class="form-control" placeholder="Enter a new username"></div>
                        <div class="col-md-12"><label class="labels fancy-font">Message</label><textarea class="form-control" id="message" placeholder="Change profile message"></textarea></div>
                        <div class="col-md-12"><label class="labels fancy-font">Upload a profile picture</label><input class="form-control" type="file" id="formFile"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button save" type="button">Save Profile</button></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" 
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
    crossorigin="anonymous"></script>
<script src="/js/edit.js"></script>