    <!-- CAROUSEL SECTION -->
    <div id="myCarousel" class="carousel slide p-3" style="background-color:powderblue" data-bs-ride="carousel">
        <h2 class="text-center">Recommended Categories</h2>
        <div class="carousel-inner">
            <!-- CSS -->
            <div class="carousel-item active">
                <div class="card mx-auto text-center" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./image/css.png" class="img-fluid rounded-start mt-3" style="height:150px"
                                alt="CSS category link">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">CSS</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- NODEJS -->
            <div class="carousel-item">
                <div class="card mx-auto text-center" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./image/nodejs.png" class="img-fluid rounded-start mt-5 ms-2 "
                                style="height:110px" alt="Node category link">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body ">
                                <h5 class="card-title">NODE JS</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HEROKU -->
            <div class="carousel-item">
                <div class="card mx-auto text-center" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./image/heroku.png" class="img-fluid rounded-start mt-3"
                                style="height:150px" alt="Heroku category link">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">HEROKU</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- JAVASCRIPT -->
            <div class="carousel-item">
                <div class="card mx-auto text-center" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./image/javascript.png" class="img-fluid rounded-start mt-3"
                                style="height:150px" alt="Javascript category link">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">JAVASCRIPT</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HTML -->
            <div class="carousel-item">
                <div class="card mx-auto text-center" style="max-width:540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="./image/html.png" class="img-fluid rounded-start mt-3" style="height:150px"
                                alt="Html category link">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">HTML</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- BOTTOM CARDS -->
    <div class="col-sm-12">
        <h2 class="text-center mt-3">Highlighted Posts</h2>
        <div class="card-group">
            {{#each likes as |like|}}
            <div class="card col-sm-4 m-3 text-center">
                <div class="card-header" style="background-color:rgb(212, 190, 226)">
                    Featured Post 
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{like.title}}</h5>
                    <p class="card-text text-truncate">{{like.description}}</p>
                    <a type="button" class="btn" href="/posts/{{like.id}}"
                        style="background-color:powderblue; border:none; color:black; font-weight:bold;">
                        Click to see full post
                    </a>
                </div>
                <div class="card-footer text-muted">
                    {{moment like.createdAt fromNow=null }}
                </div>
            </div>
            {{/each}}
        </div>
    </div>