{{!-- <card class="card p-3 mt-auto mb-auto" style="background-color: var(--l);"> --}}
  {{!-- <form class="mb-2"> --}}
    {{!-- <div class="d-flex"> --}}
      {{!-- <h2 class="mx-auto fancy-font" style="color:var(--d);">Login to Your Account</h2> --}}
      {{!-- </div> --}}
    {{!-- d-flex flex-column mx-auto --}}
    {{!-- <div class="px-3 mx-5"> --}}
      {{!-- <input class="rounded m-1" type="text" id="username" name="username" placeholder=" Username" required><br>
      --}}
      {{!-- <input class="rounded m-1" type="password" id="password" name="password" placeholder=" Password"
        required><br> --}}
      {{!-- <div class="d-flex"> --}}
        {{!-- <button class="btn mx-auto mt-2" style="background-color:var(--d); color:white;" id="submit" type="submit"
          --}} {{!-- value="Login">Login</button> --}}
        {{!-- </div> --}}
      {{!-- </div> --}}
    {{!-- </form> --}}

  {{!-- </card> --}}

{{!-- style="background-color: #9A616D;" --}}
{{!-- <section class="vh-100"> --}}
  <div class="container py-2">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="/images/code3.jpg" alt="login form" class="img-fluid " style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 px-lg-4 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="/images/bflightmode.png" style="width:100px" />
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; color: var(--d)">Login into your account
                  </h5>

                  <div class="form-outline mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" />
                    <label class="form-label" style="color: var(--d)" for="email">Email address</Address></label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" />
                    <label class="form-label" style="color: var(--d)" for="password">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-lg btn-block" style="background-color:var(--d); color:white;"
                      type="button">Login</button>
                  </div>

                  {{!-- <a class="small text-muted" href="#!">Forgot password?</a> --}}

                  <p style="color:var(--m);">Don't have an account?
                    <button  style="background-color:transparent; border:none; color:var(--d); font-weight:bold;" id="signupBtn">Register here</button>
                  </p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!--
</section> --}}