{{!-- <div id="posts" class="d-flex justify-content-center py-5">
 
    <div class="list-group  col-9">
    {{#each posts as | user_post|}}   
        {{> post post=user_post }}
    {{/each}}
    </div>

</div> --}}

<div class="container py-5">
<div class="row">
    <div class="col-lg-8 mx-auto">

      <!-- List group-->
      <ul class="list-group shadow">
        {{#each posts as | user_post|}}   
        {{> post post=user_post }}
        {{/each}}
      </ul>
      <!-- End -->
    </div>
  </div>
  </div>