<card class="card p-3" style="background-color:powderblue;">
    <form class="mb-2">
        <div>
            <h2>Sign Up for an Account</h2>
        </div>
        <div class="d-flex flex-column align-items-center mx-auto" style="width:fit-content">
            <input class="rounded mt-2" type="text" id="fname" name="fname" placeholder=" First Name" required><br>
            <input class="rounded " type="text" id="lname" name="lname" placeholder=" Last Name" required><br>
            <input class="rounded" type="text" id="email" name="email" placeholder=" Email" required><br>
            <input class="rounded" type="text" id="username" name="username" placeholder=" Username" required><br>
            <input class="rounded" type="password" id="password" name="password" placeholder=" Password" required><br>
            <div class="d-flex rounded mb-2"
                style="background-color:white; border: 2px solid var(--d); height:30px;">
                <p>I am a(n)</p>
                <button class="btn p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    
                    <select style="border:none">
                        <option class="dropdown-item" value="null">...</option>
                        <option class="dropdown-item" value="student">current student</option>
                        <option class="dropdown-item" value="grad">graduated student</option>
                        <option class="dropdown-item" value="employer">employer</option>
                    </select>
                </button>
            </div>
            <div class="d-flex">
                <input class="rounded mx-auto mt-2" type="submit" value="Create My Account">
            </div>
        </div>
    </form>
    <button class="rounded mx-auto" style="background-color: rgb(212, 190, 226);">I already have an account</button>
</card>
<script src="./js/signup.js"></script>