html{
    height: 100%;
    color-scheme: dark !important;
    background-color: #181a1b !important;
}

body {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    -webkit-tap-highlight-color: transparent;
}

.fancy-font{
    font-family: 'Unbounded', serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.profile-section-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-section{
    max-width: fit-content;
}

input[type=text]{
    background-color: rgb(96, 104, 108);
    color: white;
}

input[type=text]:focus{
    background-color: #333739;
    color: white;
}

.btn-text{
    color: white;
}
.btn-login{
    background-color: orange;
}

.login-form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#post-content{
   background-color: rgb(96, 104, 108); 
   color: white;
}

#post-content:focus, input:focus{
    background-color: #333739;
    color: white;
}

.card{
    background-color: rgb(24, 26, 27);
    border-color: rgba(140, 130, 115, 0.13);
    color: white;
}

.form-buttons{
    display: flex;
    flex-direction: column;    
}

.form-select{
    max-width: fit-content;
    background-color: grey; 
    margin-left: 15px;  
}

header{
    background-color: #333739;
    color: white;
    font-family: 'Unbounded', serif;
}

.bg-light{
    background-color: grey;    
}
.container-fluid{
    background-color: grey;
    padding: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.profile-posts{
    display: flex;
    flex-direction: row;
}

.form-select{
    background-color: #333739;
}

.space-from-top{
    margin-top: 40px;
}

.space-from-left{
    margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(232, 230, 227, 0.55);
}

.category-desc{
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner{
    height:100vh;
    width:100%;
}
.carousel-item :active{
    max-height: 100%;
}

.d-block {
    max-height: 100%;
    object-fit: cover;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}

label {
    font-family: 'Unbounded', serif;
}

.buttons{
    display: flex;
    flex-direction: row;    
    padding: 10px;
}

.dropdown{
    margin-left: 20px;
}

.submit-form{
    background-color: green;
    color: white;
    border-color: darkgreen;
}

@media (min-width: 768px) {
    .carousel .carousel-item img {
        height: 350px;        
    }
}
